<article class="py-8 bg-red" itemscope itemtype="https://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <a class="text-base uppercase font-bold text-gray-500 hover:text-gray-900" href="{{ blog.url }}">
              {{- blog.title -}}
            </a>
            <h1 class="text-4xl md:text-6xl font-medium" itemprop="headline">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' %}
        <div class="flex items-center justify-center" itemscope itemtype="https://schema.org/Person">
          <div class="max-w-7xl text-center">
            {% if section.settings.show_author %}
            {% endif %}
          </div>
        </div>
      {% when 'article_published_date' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            {% if section.settings.show_date %}
              <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%B %d, %Y' }}">
                {{- article.published_at | date: format: 'on_date' -}}
              </time>
            {% endif %}
          </div>
        </div>
      {% when 'featured_image' %}
        <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-8" itemprop="image">
          {% if article.image != blank %}
            <img
              class="w-full h-80 md:h-96 object-cover object-center p-5"
              src="{{ article.image | img_url: 'large' }}"
              alt="{{ article.image.alt }}"
            >
          {% else %}
            {% assign placeholder_image = 'lifestyle-2' %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="flex items-center justify-center" itemprop="articleBody">
          <div class="max-w-7xl">{{ article.content }}</div>
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
  <!--  -->
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8 mx-auto max-w-7xl">
    {% if article.comments_count > 0 %}
      <div class="flex-1 mx-auto item-center justify-center max-w-4xl">
        <h1 class="text-lg mb-4 font-medium">See What People are saying</h1>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-6 leading-relaxed">
              <span class="comment_author">{{ comment.author }}</span>
              <span class="text-xs text-gray-400">{{ comment.created_at | date: '%B %d, %Y' }}</span>
              <p class="text-sm">
                {{ comment.content }}
              </p>
            </div>
          {% endfor %}
          {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
          {% endif %}
        {% endpaginate %}
      </div>
    {% else %}
      <div class="py-7 px-5 border-2 border-gray-400 bg-slate-200 rounded-md">No comments</div>
    {% endif %}
  </div>

  <div class="my-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
        {% if form.errors %}
          <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <div class="text-sm font-medium ml-3">Oh no! Your comment was not posted</div>
            </div>
            <ul class="px-4 mb-3 ml-7 list-decimal">
              {% for error in form.errors %}
                <li>
                  <span class="capitalize">{{ form.errors.messages[error] }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-green-500">
                {% render 'icon-success' %}
              </div>
              <div class="text-sm font-medium ml-3">Your comment has been posted</div>
            </div>
          </div>
        {% endif %}
        <div class="px-1 md:flex md:gap-x-2 items-center mb-3 mx-auto">
          <div class="px-3 md:w-1/2">
            <label class="text-xl text-gray-700 uppercase font-medium mb-2" for="comment_author">Name</label>
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-gray-700 focus:outline-none border py-3 px-4"
              required
              placeholder="john doe"
            >
          </div>
          <div class="px-3 md:w-1/2">
            <label class="text-xl text-gray-700 uppercase font-medium mb-2" for="comment_email">Email</label>
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-gray-700 focus:outline-none border py-3 px-4"
              required
              placeholder="john doe"
            >
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-full mb-3">
            <label for="comment_content" class="text-gray-700 uppercase font-medium mb-2">Comment</label>
            <textarea
              name="comment[body]"
              id="comment_content"
              cols="30"
              rows="10"
              required
              class="w-full text-gray-700 focus:outline-none border py-3 px-4 resize-none h-20"
            ></textarea>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <input
              type="submit"
              value="Post Comment"
              class="w-full cursor-pointer text-base text-white bg-gray-900 font-medium hover:bg-gray-700 px-4 py-2"
            >
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ article.title |  json }},
      "articleBody": {{ article.content |  strip_html | json }},
      {% if article.excerpt != blank %}
          "description": {{ article.excerpt |  strip_html |  json }},
      {% endif %}
      {% if article.image %}
          "image": [ "{{ article.image | img_url: 'medium' | prepend: 'https:' }}" ],
      {% endif %}
      "datePublished": "{{ article.published_at | date: format: 'default' }}",
      "dateCreated": "{{ article.created_at | date: format: 'default' }}",
      "author": {
          "@type": "Person",
          "name": {{ article.author |  json }}
      },
      "publisher": {
          "@type": "Organization",
          "name": {{ shop.name |  json }}
      }
  }
</script>

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "Display Author"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Display Date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 2
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
